---
name: Sync the template repository

on: # yamllint disable-line rule:truthy
  pull_request:
  push:
    branches: main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
    - name: Generate a token
      id: generate_token
      uses: tibdex/github-app-token@v2
      with:
        app_id: ${{ secrets.APP_ID }}
        private_key: ${{ secrets.PRIVATE_KEY }}
    - name: Queue
      uses: ahmadnassri/action-workflow-queue@v1.2
    - name: Checkout
      uses: actions/checkout@v6.0.1
    - name: Sync
      uses: ahmadnassri/action-template-repository-sync@v2.6.10
      with:
        github-token: ${{ steps.generate_token.outputs.token }}
